@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
}
main{
  max-width: 1250px;
  margin: 70px auto 0;
  min-height: 70vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
